.container {
  max-width: 960px;
}

/*
 * Custom translucent site header
 */

 .site-header {
  background-color: rgba(0, 0, 0, .85);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}
.site-header a {
  color: #999;
  transition: ease-in-out color .15s;
}
.site-header a:hover {
  color: #fff;
  text-decoration: none;
}

.screenshot-container {
  padding-right: 0;
}

.screenshot {
  border: 1px solid rgba(0,0,0,0.1);
}

.screenshot-mobile {
  border-radius: 10%/4.7%;
}

hr {
  margin-top: 32px;
  margin-bottom: 19px;
}