.container {
  max-width: 960px;
}

/*
 * Custom translucent site header
 */

.site-header {
  background-color: rgba(0, 0, 0, .85);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}
.site-header a {
  color: #999;
  transition: ease-in-out color .15s;
}
.site-header a:hover {
  color: #fff;
  text-decoration: none;
}

/*
 * Extra utilities
 */

.flex-equal > * {
  -ms-flex: 1;
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    -ms-flex: 1;
    flex: 1;
  }
}

.overflow-hidden { overflow: hidden; }

/*
 * Apps and Games
 */

.product-device {
  position: absolute;
  right: 10%;
  bottom: -30%;
  width: 300px;
  height: 540px;
  background-color: #333;
  border-radius: 21px;
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
  z-index: -1;
}

.product-device::before {
  position: absolute;
  top: 10%;
  right: 10px;
  bottom: 10%;
  left: 10px;
  content: "";
  background-size: cover;
  background-position: center top;
  border-radius: 5px;
}

.product-device-2 {
  top: -25%;
  right: auto;
  bottom: 0;
  left: 5%;
  background-color: #e5e5e5;
}

@media (max-width: 1090px) {
  .product-device {
    display: none;
  }
}

.screenshot {
  object-fit: cover;
  object-position: center top;
}

/*
 * Apps
 */

.product-device-apps::before {
  background-image: url(assets/my-society/screenshots/cover.jpg);
}

.br1-apps, .br2-apps, .br3-apps {
  display: none;
}

@media (min-width: 768px) and (max-width: 1189px) {
  .br1-apps {
    display: block;
  }

  @media (max-width: 771px) {
    .br2-apps {
      display: block;
    }
  }
}

@media (min-width: 1023px) and (max-width: 1086px) {
  .br3-apps {
    display: block;
  }
}

.center-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*
 * Games
 */

.product-device-games::before {
  background-image: url(assets/minesweeper/screenshots/3.jpg);
}

.br1-games, .br2-games {
  display: none;
}

@media (min-width: 768px) and (max-width: 1168px) {
  .br1-games {
    display: block;
  }

  @media (max-width: 791px) {
    .br2-games {
      display: block;
    }
  }
}

/*
 * Education
 */

.sch-logo {
  width: 50px;
}


/* Timeline holder */
ul.timeline {
  list-style-type: none;
  position: relative;
  padding-left: 1.5rem;
}

/* Timeline vertical line */
ul.timeline:before {
  content: ' ';
  background: #fff;
  display: inline-block;
  position: absolute;
  left: 16px;
  width: 4px;
  height: 100%;
  z-index: 400;
  border-radius: 1rem;
}

li.timeline-item {
  margin: 20px 0;
}

/* Timeline item arrow */
.timeline-arrow {
  border-top: 0.5rem solid transparent;
  border-right: 0.5rem solid #fff;
  border-bottom: 0.5rem solid transparent;
  display: block;
  position: absolute;
  left: 2rem;
}

/* Timeline item circle marker */
li.timeline-item::before {
  content: ' ';
  background: #ddd;
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  border: 3px solid #fff;
  left: 11px;
  width: 14px;
  height: 14px;
  z-index: 400;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

